# Temporary files
.*
!.gitignore
!.env.example

# Data
/data
/nets/*.net
__pycache__
venv

# Build results
submission*

# Latex
*.synctex.gz
*.aux
*.fls
*.out
*.toc
*.log
*.lof
*.lot
*.bbl*
*.bcf*
*.blg
*.xmpi
*.run.xml
*.fdb_latexmk
*.synctex*
*.nav
*.snm
*.vrb
*-blx.bib
