# Compose app name, used as container/image name prefix (dc = Data Curation)
COMPOSE_PROJECT_NAME=dc

# Comma-separated list of enabled profiles, choosing from
#   db          - runs a PostGIS instance inside Docker
#   dbui        - runs pgadmin inside Docker
#   ontop       - runs ontop server inside Docker
#   frontend    - runs frontend server inside Docker
COMPOSE_PROFILES=db,dbui,ontop,frontend

# Port customization (no need to change them)
PORT_POSTGRES=25432
PORT_PGADMIN=20080
PORT_FRONTEND=8888
PORT_ONTOP=8887

# PostgreSQL DB Credentials
USERID=user
USERPWD=user
USEREMAIL=user@example.com

